header {
  background: rgba(53, 63, 111, 0.7);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);

  .logo-container {
    padding: 8px;
  }

  img {
    width: 50px;
  }
}