.btn {
  display: inline-block;
  border-radius: 50px;
  padding: 14px 28px;
  color: $primary-color;
  text-transform: uppercase;
  border: 1px solid $primary-color;
  font-size: 1.4rem;
  transition: all 0.3s;
  background: transparent;
  cursor: pointer;

  &:hover {
    background: $primary-color;
    color: $light;
  }
}