$primary-color: #15bd90;
$secondary-color: #373f6f;
$light: #fff;

// $br-sm: 768px;
// $br-md: 992px;
// $br-lg: 1200px;

// $breakpoints: (
//   'sm': $br-sm,
//   'md': $br-md,
//   'lg': $br-lg
// );

$breakpoints: (
  'sm': 769px,
  'md': 992px,
  'lg': 1200px
);