#contact-form {
  background-color: $secondary-color;
  background-image: url("../../src/images/world.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 0;
  color: $light;

  hr {
    @include title-line($light, 60px);
  }

  .submit {
    text-align: center;
  }

  .form-group {
    padding: 0 0 10px;
  }

  input,
  textarea,
  select {
    display: block;
    width: 100%;
    border: 1px solid #D8D8D8;
  }

  label {
    display: block;
    padding-bottom: 5px;
  }

  input {
    height: 40px;
    border-radius: 3px;
    padding: 0 15px;
  }

  textarea {
    border-radius: 3px;
    padding: 15px;
  }

  form {
    margin: 0 -15px;
  }

  .form-wrapper {
    .message {
      .form-group {
        height: 100%;
      }

      textarea {
        height: calc(100% - 23px);
      }
    }

    .message,
    .info {
      flex: 1;
      padding: 15px;
    }
  }
}